<mat-card class="bookcard">
        <!-- <mat-card-header> -->
            <!-- <mat-card-title ><strong>{{book.name}}</strong></mat-card-title> -->
            <h4><strong>{{book.name}}</strong></h4>
            <!-- <mat-card-subtitle>{{book.author}}</mat-card-subtitle> -->
            <p>{{book.author}}</p>
        <!-- </mat-card-header> -->
        <img  mat-card-image src="{{book.coverurl}}" alt="{{book.name}}">
        <mat-card-actions>
            <button mat-icon-button [routerLink]="['/view',book.bookid]" matTooltip="View Book">
                <mat-icon>menu_book</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Add to Shelf">
                    <mat-icon>library_books</mat-icon>
            </button>
            <button mat-icon-button (click)="send_like($event,book.bookid)">
                <mat-icon>favorite_border</mat-icon>
            </button>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card-actions>
    </mat-card>
    <br>
