.bookcard{
    width: 200px;
    margin-left: 30px;
    height: 340px;
    //font-family: Arial, Helvetica, sans-serif;
    //display: flex;
    //flex-direction:row;
    //flex-wrap: wrap;
    img{
        height:180px;
        width:150px;
        background-size:cover;
        padding-left: 30px;
    }

}