.bookcard{
    max-width: 300px;
    margin-left: 30px;
    //font-family: Arial, Helvetica, sans-serif;
    //display: flex;
    //flex-direction:row;
    //flex-wrap: wrap;
    img{
        background-size:cover;
    }

}
