
<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span (click)="home()">PDFroom</span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <mat-form-field appearance="outline">
          <mat-label>search here</mat-label>
          <input matInput placeholder="Book name">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-button (click)="viewlist()">Books</button>
        <!-- <button  mat-button (click)="viewProfile()">
          <mat-icon>person</mat-icon>
        </button> -->
        <button mat-button [matMenuTriggerFor]="beforeMenu"><mat-icon>person</mat-icon></button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="viewProfile()">Profile</button>
          <button mat-menu-item (click)="goToReadList()">Your ReadList</button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <span (click)="viewlist()" mat-list-item>Books</span>
        <!-- <span (click)="viewProfile()" mat-list-item>
          <mat-icon>person</mat-icon>
        </span> -->
        <button mat-button [matMenuTriggerFor]="beforeMenu"><mat-icon>person</mat-icon></button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="viewProfile()">Profile</button>
          <button mat-menu-item (click)="goToReadList()">Your ReadList</button>
        </mat-menu>
        <span (click)="loginRedirect()">
          <mat-icon>login</mat-icon></span>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>