<!-- <p>profile works!</p>
<div>
    <img src="{{userprofile.image}}" alt="">
    <p><strong>{{userprofile.email}}</strong></p>
    <p>{{userprofile.name}}</p>
</div> -->
<!-- https://mdbootstrap.com/docs/angular/tables/search/ -->

<div class="profile-card" *ngFor="let i of profileuser">
<mat-card > 
        <img  mat-card-image src="{{i.photoid}}" alt="{{i.name}}">
        <!-- <mat-card-actions>
            
        </mat-card-actions> -->
        <p><strong>{{i.name}}</strong></p>
            <p>{{i.email}}</p>
</mat-card>
</div>

<!-- <div *ngFor="let i of likedbooks">
    <p>{{books[i.bookid].name}}</p> -->
    <!-- <p>{{i}}</p>

</div> --> 
