<!-- <p>profile works!</p>
<div>
    <img src="{{userprofile.image}}" alt="">
    <p><strong>{{userprofile.email}}</strong></p>
    <p>{{userprofile.name}}</p>
</div> -->
<!-- https://mdbootstrap.com/docs/angular/tables/search/ -->
<div  class="profile-card" fxFlex="0 1 calc(33% - 10px)">
    <div *ngFor="let i of profileuser">
        <mat-card> 
                <img  mat-card-image src="{{i.photoid}}" alt="{{i.name}}">
                
                <p><strong>{{i.name}}</strong></p>
                <mat-card-content>
                  <p><strong>Points: </strong> {{i.points}}</p>
                </mat-card-content>
        </mat-card>
        </div>
</div>

    
<mat-tab-group fxFlex="0 1 calc(33% - 10px)" class="tabgroupclass" *ngIf="likedbookslen!=0">
  <mat-tab label="Shelf Books"> 
    <div class="userdetails">
      <p *ngIf="shelfbookslen==0">Nothing to show add books to shelf to view piechart of your books</p>
    <!-- <div  *ngFor="let i of shelfbooks">
        <p  [routerLink]="['/view',i.bookid-1]">{{books[i.bookid-1].name}}</p>
    </div> -->
    <mat-list *ngFor="let book of shelfbooks">
      <mat-list-item [routerLink]="['/view', book.bookid]">{{getBookNameById(book.bookid)}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
        
</mat-tab>
  <mat-tab label="Liked Books" >
    <app-likedbookstable *ngIf="likedbookslen!=0"></app-likedbookstable>
  </mat-tab>
</mat-tab-group>
<div fxFlex="0 1 calc(33% - 10px)" class="piechart">
  <app-piechart *ngIf="bookslen!=0 && likedbookslen!=0 && shelfbookslen!=0" [allbooks]="bookslen" [likedbooks]="likedbookslen" [shelfbooks]="shelfbookslen"></app-piechart>
</div>
<div class="bottom-left">
  <h4>Your Comments</h4>
  <mat-accordion *ngFor="let comment of commentsMadeByUser">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>{{comment.message}}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Book Name: {{getBookNameById(comment.bookId)}}</p>
      <div class="align-in-row">
        <p>Upvotes: {{comment.upvotes}}</p>
        <button mat-raised-button color="primary" (click)="viewBookDetails(comment.bookId)">View Details</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- This is for following section -->
<div class="following-section">
  <p>Followers list</p>
  <mat-card>
    <mat-card *ngFor="let person of followingList">
      <mat-card-header>
          <img mat-card-avatar src="{{person.profilePicture}}" alt="{{person.name}}">
        <mat-card-title>{{person.name}}</mat-card-title>
        <!-- Using Datepipe format the Datetime -->
        <mat-card-subtitle>Following since {{person.time | date:'mediumDate'}}</mat-card-subtitle>
        <p>Points: {{person.points}}</p>
      </mat-card-header>
    </mat-card>
  </mat-card>
</div>