
<!-- <h3>Welcome <strong>{{userprofile.name}} Here are your books</strong></h3> -->
<div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="flex-start" >
        <mat-slide-toggle
          [formControl]="showlikes"
          (change)="onChange()"
          [checked]="checked"
          [disabled]="disabled">
        LikedBooks
      </mat-slide-toggle>
      <button mat-fab color="primary" (click)="openDialog()">
        <mat-icon>library_books</mat-icon>
    </button>
      <div *ngFor="let cate of categorylist | keyvalue" >
        <mat-card fxFlex="0 1 calc(10% - 10px)" class="categoryclass" [routerLink]="['/category',cate.key]">
            <img mat-card-image src="{{cate.value}}" class="categoryclass-image">
        </mat-card>
      </div> 
</div>

<div class="container">
    <ng-container *ngIf="!showlikes.value">
        <div fxLayout="row wrap" fxLayoutGap="0px" fxLayoutAlign="flex-start">
            <app-book *ngFor="let book of books" [book]="book" fxFlex="0 1 calc(25% - 10px)"></app-book>
    </div>
</ng-container>
<ng-container *ngIf="showlikes.value">
    <br>
    <div fxLayout="row wrap" fxLayoutGap="0px" fxLayoutAlign="flex-start">

        <app-book *ngFor="let u of userlikedbooks" [book]="books[u.bookid-1]" fxFlex="0 1 calc(25% - 10px)"></app-book>
    </div>
</ng-container>
</div>