.bookcard{
    max-width: 200px;
    margin-left: 30px;
    max-height: 320px;
    //font-family: Arial, Helvetica, sans-serif;
    //display: flex;
    //flex-direction:row;
    //flex-wrap: wrap;
    img{
        height:180px;
        width:150px;
        background-size:cover;
        padding-left: 30px;
    }

}

// https://medium.com/letsboot/quick-start-with-angular-material-and-flex-layout-1b065aa1476c

// https://www.9lessons.info/2018/07/social-login-using-angular-and-restful.html

//https://codinglatte.com/posts/angular/responsive-app-angular-flex-layout/